# These files are text and should be normalized (Convert crlf => lf)
*.java   text eol=lf
*.md text eol=lf
README.*   text eol=lf
LICENSE text eol=lf
LICENSE.* text eol=lf
.gitattributes   text eol=lf
.gitignore   text eol=lf
*.txt   text eol=lf
*.xml   text eol=lf
*.properties   text eol=lf
